@(profileForm:Form[_])

@import controllers.security.Account

@import services.authentication.AuthenticationService
@import helper._
@import helper.twitterBootstrap._

    <link rel="stylesheet" media="screen" href="http://www.kylewetherald.com/CS1530/css/bootstrap.min.css" />
    <link rel="stylesheet" media="screen" href="http://www.kylewetherald.com/CS1530/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" media="screen" href="http://www.kylewetherald.com/CS1530/css/style.css" />

    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
    <script src="http://www.kylewetherald.com/CS1530/js/bootstrap.min.js"></script>
    <style>
        div#assignedAccountant { display: none; }
    </style>


    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
    <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    </div>
    </div>
    </nav>
    <div>
        @if(flash.contains(AuthenticationService.FLASH_ERROR_KEY)) {
            <div class="alert alert-error">
            @flash().get(AuthenticationService.FLASH_ERROR_KEY)
            </div>
        }
        @if(flash.contains(AuthenticationService.FLASH_MESSAGE_KEY)) {
            <div class="alert alert-success">
            @flash().get(AuthenticationService.FLASH_MESSAGE_KEY)
            </div>
        }
    </div>

    <br><br><br>
    <div class="col-md-2 col-md-offset-5">
      <img src="http://www.kylewetherald.com/CS1530/img/logo.png" class="img-responsive center-block" id="logo" alt="Blind Love">
    </div>
    <div class="col-md-6 col-md-offset-3 panel centered-y">
      <br>
      <h1>Edit your profile</h1>
    @* Display proprietary login form *@
    	@helper.form(controllers.security.routes.Account.doManageProfile) {

            @if(profileForm.hasGlobalErrors) {
                <p class="error">
		            <span class="label label-important">@(profileForm.globalError.message)</span>
		        </p>
            }

            @defining(profileForm("id")) { uidField =>
                <input type="hidden" name="@uidField.name" id="@uidField.id" value="@uidField.value">
            }

    <div class="form-group has-feedback">
    @inputText(
        profileForm("email"),
        '_showConstraints -> true,
        '_label -> "Email",
        'class -> "form-control"
    )
    </div>
    <div class="form-group has-feedback">
    @inputPassword(
        profileForm("password"),
        '_showConstraints -> true,
        '_label -> "Password",
        'class -> "form-control"
    )
    </div>
    <div class="form-group has-feedback">
    @inputPassword(
        profileForm("repeatPassword"),
        '_showConstraints -> true,
        '_label -> "Repeat Password",
        'class -> "form-control"
    )
    </div>
    <div class="form-group has-feedback">
    @inputText(
        profileForm("firstName"),
        '_label -> "First name",
        'class -> "form-control"
    )
    </div>
    <div class="form-group has-feedback">
    @inputText(
        profileForm("lastName"),
        '_label -> "Last name",
        'class -> "form-control"
    )
    </div>
    <div class="form-group">
    @inputRadioGroup(
        profileForm("gender"),
        options = options("male"->"Male", "female"->"Female", "other"->"Other"),
        '_label -> "Gender",
        '_id -> "gender",
        'class -> "form-control"
    )
    </div>
    <div class="form-group has-feedback">
    @inputText(
        profileForm("currentCity"),
        '_label -> "Current City",
        'class -> "form-control"
    )
    </div>
    <div class="form-group has-feedback">
    @inputText(
        profileForm("hometown"),
        '_label -> "Hometown",
        'class -> "form-control"
    )
    </div>
    <div class="form-group has-feedback">
    @select(
        profileForm("educationalLevel"),
        options = options(scala.List(
            "Some high school",
            "High school graduate",
            "Some college",
            "Associate's and/or Bachelor's degree",
            "Bachelor's degree",
            "Master's and/or Doctorate and/or professional degree",
            "Doctorate and/or professional degree",
            "Doctorate"
        )),
        '_label -> "Educational Level",
        'class -> "form-control"
    )
    </div>
    <div class="form-group has-feedback">
    @select(
        profileForm("educationalField"),
        options = options(scala.List(
            "None",
            "Humanities",
            "Social sciences",
            "Natural sciences",
            "Formal sciences",
            "Professional"
        )),
        '_label -> "Educational Field",
        'class -> "form-control"
    )
    </div>
    <div class="form-group has-feedback">
    @select(
        profileForm("employmentField"),
        options = options(scala.List(
            "Accounting / Finance",
            "Advertising",
            "Anthropology / Archaeology ",
            "Architect",
            "Arts and Entertainment ",
            "Broadcast",
            "Business",
            "Call Center",
            "Communications",
            "Construction",
            "Dance",
            "Education",
            "Environmental",
            "Executive",
            "Film, Television, Theatre ",
            "Funeral",
            "Government",
            "Graphic Design",
            "Green  / Careers ",
            "Health Care",
            "Hospitality",
            "Human Resources",
            "Insurance",
            "Internet",
            "Janitorial",
            "Legal",
            "Library",
            "Military",
            "Museum",
            "Music",
            "Nanny",
            "Non Profit",
            "Outdoor",
            "Real Estate",
            "Religious and Ministry",
            "Retail / Fashion",
            "Retirement",
            "Sales / Marketing",
            "Science ",
            "Skilled Trades ",
            "Sports",
            "Technology",
            "Travel / Transportation ",
            "Union",
            "Veterans",
            "Volunteer Opportunities ",
            "Web Design",
            "Winery",
            "Zoo"
        )),
        '_label -> "Employment Field",
        'class -> "form-control"
    )
    </div>
    <div class="form-group has-feedback">
    @textarea(
        profileForm("bio"),
        '_label -> "Bio",
        'class -> "form-control"
    )
    </div>
    <div class="form-group has-feedback">
    @textarea(
        profileForm("interests"),
        '_label -> "Interests",
        'class -> "form-control"
    )
    </div>



    <input type="submit" value="@Messages("raa.manage_profile.now")" class="btn btn-primary">
    	}
    </div>
    </div>


<script type="text/javascript">
    $(document ).ready(function () {
        if ($('input[type=radio]:checked' ).val() == 'false') $("div#assignedAccountant" ).show();
        $('input[type=radio][name=accountant]').change(function() {
            if (this.value == 'true') {
                $("div#assignedAccountant" ).hide()
            }
            else if (this.value == 'false') {
                $("div#assignedAccountant" ).show()
            }
        });

    })
</script>