@(profileForm:Form[_])

@import controllers.security.Account

@import services.authentication.AuthenticationService
@import helper._
@import helper.twitterBootstrap._

    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
    <style>
        div#assignedAccountant { display: none; }
    </style>

    <div>
        @if(flash.contains(AuthenticationService.FLASH_ERROR_KEY)) {
            <div class="alert alert-error">
            @flash().get(AuthenticationService.FLASH_ERROR_KEY)
            </div>
        }
        @if(flash.contains(AuthenticationService.FLASH_MESSAGE_KEY)) {
            <div class="alert alert-success">
            @flash().get(AuthenticationService.FLASH_MESSAGE_KEY)
            </div>
        }
    </div>

    @* Display proprietary login form *@
    	@helper.form(controllers.security.routes.Account.doManageProfile) {

            @if(profileForm.hasGlobalErrors) {
                <p class="error">
		            <span class="label label-important">@(profileForm.globalError.message)</span>
		        </p>
            }

            @defining(profileForm("id")) { uidField =>
                <input type="hidden" name="@uidField.name" id="@uidField.id" value="@uidField.value">
            }


    @inputText(
        profileForm("email"),
        '_showConstraints -> true,
        '_label -> "Email"
    )

    @inputPassword(
        profileForm("password"),
        '_showConstraints -> true,
        '_label -> "Password"
    )

    @inputPassword(
        profileForm("repeatPassword"),
        '_showConstraints -> true,
        '_label -> "Repeat Password"
    )

    @inputText(
        profileForm("firstName"),
        '_label -> "First name"
    )

    @inputText(
        profileForm("lastName"),
        '_label -> "Last name"
    )

    @inputRadioGroup(
        profileForm("gender"),
        options = options("male"->"Male", "female"->"Female", "other"->"Other"),
        '_label -> "Gender",
        '_id -> "gender"
    )

    @inputText(
        profileForm("currentCity"),
        '_label -> "Current City"
    )

    @inputText(
        profileForm("hometown"),
        '_label -> "Hometown"
    )

    @select(
        profileForm("educationalLevel"),
        options = options(scala.List(
            "Some high school",
            "High school graduate",
            "Some college",
            "Associate's and/or Bachelor's degree",
            "Bachelor's degree",
            "Master's and/or Doctorate and/or professional degree",
            "Doctorate and/or professional degree",
            "Doctorate"
        )),
        '_label -> "Educational Level"
    )

    @select(
        profileForm("educationalField"),
        options = options(scala.List(
            "None",
            "Humanities",
            "Social sciences",
            "Natural sciences",
            "Formal sciences",
            "Professional"
        )),
        '_label -> "Educational Field"
    )

    @select(
        profileForm("employmentField"),
        options = options(scala.List(
            "Accounting / Finance",
            "Advertising",
            "Anthropology / Archaeology ",
            "Architect",
            "Arts and Entertainment ",
            "Broadcast",
            "Business",
            "Call Center",
            "Communications",
            "Construction",
            "Dance",
            "Education",
            "Environmental",
            "Executive",
            "Film, Television, Theatre ",
            "Funeral",
            "Government",
            "Graphic Design",
            "Green  / Careers ",
            "Health Care",
            "Hospitality",
            "Human Resources",
            "Insurance",
            "Internet",
            "Janitorial",
            "Legal",
            "Library",
            "Military",
            "Museum",
            "Music",
            "Nanny",
            "Non Profit",
            "Outdoor",
            "Real Estate",
            "Religious and Ministry",
            "Retail / Fashion",
            "Retirement",
            "Sales / Marketing",
            "Science ",
            "Skilled Trades ",
            "Sports",
            "Technology",
            "Travel / Transportation ",
            "Union",
            "Veterans",
            "Volunteer Opportunities ",
            "Web Design",
            "Winery",
            "Zoo"
        )),
        '_label -> "Employment Field"
    )

    @textarea(
        profileForm("bio"),
        '_label -> "Bio"
    )

    @textarea(
        profileForm("interests"),
        '_label -> "Interests"
    )




    <input type="submit" value="@Messages("raa.manage_profile.now")" class="btn btn-primary">
    	}


<script type="text/javascript">
    $(document ).ready(function () {
        if ($('input[type=radio]:checked' ).val() == 'false') $("div#assignedAccountant" ).show();
        $('input[type=radio][name=accountant]').change(function() {
            if (this.value == 'true') {
                $("div#assignedAccountant" ).hide()
            }
            else if (this.value == 'false') {
                $("div#assignedAccountant" ).show()
            }
        });

    })
</script>