@(emailForm: Form[services.authentication.AuthenticationService.MyIdentity])

@import helper._
@import helper.twitterBootstrap._

    <h1>@Messages("playauthenticate.password.forgot.title")</h1>
    <p>
    @form(controllers.security.routes.Account.doForgotPassword) {

        @if(emailForm.hasGlobalErrors) {
    <p class="error">
        <span class="label label-important">@emailForm.globalError.message</span>
    </p>
}

    @inputText(
        emailForm("email"),
        '_showConstraints -> true,
        '_label -> Messages("playauthenticate.login.email.placeholder")
    )

    <input type="submit" value="@Messages("playauthenticate.password.forgot.cta")" class="btn btn-primary">
    }
    </p>
