#logo {
	max-height: 60%;
}
.main {
	margin-top: 2em;
	background-image: url("../img/stripe.png");
	background-repeat: both;
}
.centered-y {
	vertical-align: center;
}
body {
	background-color:#9df;
}