@(love:java.util.List[Match],
        incoming:java.util.List[Match],
        outgoing:java.util.List[Match],
        rejections:java.util.List[Reject],
        auto:java.util.Map[User,java.lang.Float])

@import com.avaje.ebean.Expr

@layout() {
    <style type=text/css>li { clear:both; } h2 { clear:both; }</style>
    <h2>AutoLove</h2>
    <ul>
    @auto.toList.sortBy(_._2).reverse.map { us =>
        <li>
            <strong>BlindLove MatchScore: @us._2</strong><br />
            @userLi(new controllers.Application.UserResult(us._1, null)) <br />
            <a href="/createMatch?targetId=@us._1.id">Create Match</a>
        </li>
    }
    </ul>
    <h2>Requited Love</h2>
    <ul>
        @love.map { mtch =>
            @defining({ if (mtch.getMatchedUser.id == controllers.security.Account.getLocalUserOption.get.id) mtch.getTargetUser else mtch.getMatchedUser}) { otherUser =>
                <li>
                    @userLi(new controllers.Application.UserResult(otherUser, null)) <br />
                @TextChat.find.where().or(Expr.eq("recipient.id", controllers.security.Account.getLocalUserOption.get.id), Expr.eq("sender.id", mtch.getOtherUser(controllers.security.Account.getLocalUserOption.get).id)).findList.map { tc =>
                    <ul>
                        <li>From @tc.getSender.firstName to @tc.getRecipient.firstName : @tc.getMessage<br />
                            @if(tc.getAccepted) {
                                <a href="/chats/@tc.getKey">Go to chat</a>
                            } else {
                                @if(tc.getRecipient.id == controllers.security.Account.getLocalUserOption.get.id) {
                                    <a href="/chats/@tc.getKey/accept">Accept chat request</a>
                                }
                            }
                        </li>
                    </ul>
                }
                <a href="#" onclick="event.preventDefault; $('#textChatBox').slideToggle()">Request Text Chat</a>
                <div style="display:none;" id="textChatBox">
                    <form action="/matches/@mtch.getKey/createTextChat" method="POST">
                        <textarea name="message" placeholder="Enter a message"></textarea>
                        <input type="submit" />
                    </form>
                </div>
                <a href="#" onclick="event.preventDefault; $('#videoChatBox').slideToggle()">Request Video Chat</a>
                <div style="display:none;" id="videoChatBox">
                    <form action="/matches/@mtch.getKey/createVideoChat" method="POST">
                    <textarea name="message" placeholder="Enter a message"></textarea>
                    <input type="submit" />
                </form>
                </div>
                </li>
            }
        }
    </ul>
    <h2>Suitors</h2>
    <ul>
        @incoming.map { mtch =>
          <li>
              @userLi(new controllers.Application.UserResult(mtch.getMatchedUser, null)) <br />
              <a href="/matches/@mtch.getKey/accept">Accept Match</a>
              <a href="/matches/@mtch.getKey/reject">Reject Match</a>
          </li>
        }
    </ul>
    <h2>Unrequited Love</h2>
    <ul>
    @outgoing.map { mtch =>
        <li>
            @userLi(new controllers.Application.UserResult(mtch.getTargetUser, null)) <br />
        </li>
    }
    </ul>
    <h2>Rejections</h2>
    <ul>
    @rejections.map { reject =>
        <li>@userLi(new controllers.Application.UserResult(reject.getRejector, null))</li>
    }
    </ul>

}