@(me:User, tc:TextChat)
@layout() {
    <meta http-equiv="refresh" content="30" />
    <h2>Chatting with <a href="/profile/@tc.getOtherUser(me).id">@tc.getOtherUser(me).firstName</a></h2>
    <ul>
        <li><form action="/chats/@tc.getKey/send" method="POST">
            <textarea name="message"></textarea><input type="submit" />
        </form></li>
        @tc.getMessages.toList.sortBy(_.getCreated).reverse.map { msg =>
            <li>@messageLi(msg)</li>
        }
        <li>@if(tc.getSender.id == me.id) {
            @me.firstName (@tc.getCreated.format("dd MMM yyyy")): @tc.getMessage
        } else {
            @tc.getOtherUser(me).firstName (@tc.getCreated.format("dd MMM yyyy")) : @tc.getMessage
        }</li>
    </ul>
}